<p>viewleave works!</p>
<!--
<table class="table table-dark" style="border-collapse: collapse">
    <tr>
        leave_transaction_id, leave_emp_id, leave_sick_leave, leave_casual_leave, leave_todate, leave_fromdate, leave_description

        <th> EmpID </th>
        <th> Sick Leave </th>
        <th> Casual Leave </th>
        <th> From Date </th>
        <th> To Date </th>
        <th> Status </th>
        <th> Edit </th>
    </tr>
    <tr *ngFor="let emp of empdetails;let i=index" >
         <td>{{emp.emp_id}}</td>
         <td>{{emp.emp_fname | uppercase}}</td>
         <td>{{emp.emp_mname | uppercase}}</td>
         <td>{{emp.emp_lname | uppercase}}</td>
         <td>{{emp.emp_department}}</td>
         <td>{{emp.emp_salary}}</td>
         <td> {{i}}</td>
         <td> <button (click)="deleteEmp(emp.emp_id)"> Delete</button></td>
         <td><button (click)="updateEmp(emp.emp_id)"> Edit </button></td>
       
    </tr>
    
</table>
<button class= btn-primary (click)= "getallEmployee()">Search</button>
-->