<app-header></app-header>
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav mr-auto">
           <li class="nav-item"><a routerLink="dashboard" class="nav-link">Dashboard</a></li>
           <li class="nav-item"><a routerLink="viewleave" class="nav-link">Leave View</a></li>
           <li class="nav-item"><a routerLink="updateprofile" class="nav-link">Update Profile</a></li>
           <li class="nav-item"><a routerLink="searchallemployee" class="nav-link">Search Employee</a></li>
         </ul>
       </div>
     </nav>	
     <div class="container"></div>
</div>
<router-outlet></router-outlet>