<app-header></app-header>
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav mr-auto">
           <li class="nav-item"><a routerLink="dashboard" class="nav-link">Dashboard</a></li>
           <li class="nav-item"><a routerLink="salary" class="nav-link">Salary</a></li>
           <li class="nav-item"><a routerLink="generatepayslip" class="nav-link">Payslip</a></li>
           <li class="nav-item"><a routerLink="updateprofile" class="nav-link">Update Profile</a></li>
           <li class="nav-item"><a routerLink="searchemployee"  class="nav-link">Search</a></li>
           <li class="nav-item"><a routerLink="searchallemployee"  class="nav-link">Seach All </a></li>
           <li class="nav-item"><a routerLink="newregisterview"  class="nav-link">New Registration</a></li>
         </ul>
       </div>
     </nav>	
     <div class="container">
</div>

<router-outlet></router-outlet>